@import "../../_globalColor";

.rotating-text {
  display: inline-block;
  color: $primaryColor;
  font-weight: 600;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
